/* general styles */
body {
  font-family: 'Roboto', sans-serif;
}
/* utilities */
h1,
h3,
p {
  text-align: center;
}
p {
  margin-top: 30px;
  margin-bottom: 50px;
}
section {
  margin-bottom: 60px;
}
[class*="col-xs-"] img {
  width: 140px;
  height: auto;
  display: block;
  margin: 15px auto;
}
[class*="col-md-"] img {
  width: auto;
  height: 220px;
}

.lezioni,
.online {
  background-color: #fff;
}
.seconda {
  background-color: #80808038;
}
.terza {
  background-color: #80808038;
}
.terza img {
  background-color: blue;
  border-radius: 50%;
}
.terza p {
  margin-bottom: 5px;
}
hr {
  margin-bottom: 50px;
}
